<div>
    <h1 class="myH1">LIBRARY BOOKS</h1>
    </div>
    <div class="myCenter">
    <table class="books">
    <tr>
    <th>Book id</th>
    <th>Book name</th>
    <th>Author</th>
    <th>Literature</th>
    <th>Date of return</th>
    <th>Remove a book</th>
    <th>Update a book</th>
    </tr>
    <tr *ngFor="let book of books; index as i;">
    <td>{{book.bookId}}</td>
    <td>{{book.bookName}}</td>
    <td>{{book.author}}</td>
    <td>{{book.literature}}</td>
    <td>{{book.dor | date: 'mediumDate'}}</td>
    <td style="text-align:center"><button mat-raised-button color="warn" (click)="delBook($event, i)">Delete</button></td>
    <td style="text-align:center;"><a mat-stroked-button color="black" routerLink="/books/update/{{book.bookId}}">Update</a></td>
    </tr>
    </table>
    <br><br>
    <div class="myMain">
    <a mat-stroked-button routerLink="/books/home">Home</a>
    </div>
    </div>